.header {
  position: relative;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: flex-end;
  color: var(--primary-color);
  align-items: center;
  gap: 2rem;
  position: relative;
}

.navList {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navList a {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 1rem;
  transition: opacity 0.2s;
  position: relative;
}

.navList a:hover {
  opacity: 0.8;
}

.navList a.active {
  font-weight: bold;
}

.navList a.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .navList {
    flex-direction: column;
    gap: 1rem;
  }
}